@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');
@import "tailwindcss";
@plugin "tailwindcss-animate";

* {
    font-family: 'Outfit';
}

select,
input,
textarea {
    border: 1px solid #c2c2c2;
    outline-color: #4f46e5;
    border-radius: 4px;
}

.active {
    background-color: #eef2ff;
    border-color: #4f46e5;
}

/* Animations for Login Page */
@keyframes blob {
    0% {
        transform: translate(0px, 0px) scale(1);
    }

    33% {
        transform: translate(30px, -50px) scale(1.1);
    }

    66% {
        transform: translate(-20px, 20px) scale(0.9);
    }

    100% {
        transform: translate(0px, 0px) scale(1);
    }
}

.animate-blob {
    animation: blob 7s infinite;
}

.animation-delay-2000 {
    animation-delay: 2s;
}

.animation-delay-4000 {
    animation-delay: 4s;
}